html {
    body {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: black;
        background-color: white;

        nav {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            a {
                padding: 0 0.25rem 0.25rem;
                color: inherit;
                text-decoration: none;
                border-bottom: 2px solid white;

                &.active {
                    color: green;
                    border-color: green;
                }
            }
        }

        pre {
            padding: 0.5rem;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            font-size: 0.75rem;
            background-color: rgba(black, 0.1);
            border-radius: 0.25rem;
        }

        ul {
            list-style: none;
            margin: 1rem 0;
            padding: 0;

            li {
                display: block;
                margin: 0;
                padding: 0;
            }
        }

        .no-btn {
            padding: 0 0.25rem 0.25rem;
            background: none;
            border: none;
            font-family: inherit;
            font-size: 1rem;
        }

        main {
            section {
                & > div {
                    padding-top: 1rem;
                    margin-top: 1rem;
                    border-top: 2px solid rgba(black, 0.5);
                }

                .app-form {
                    margin: 1rem 0;
                    padding: 1rem;
                    background: rgba(black, 0.1);
                    border-radius: 0.25rem;

                    .form-group {
                        margin-bottom: 1rem;
                        text-align: center;

                        label {
                            display: block;
                            margin-bottom: 0.25rem;
                            font-weight: bold;

                            &.required {
                                &:after {
                                    content: " *";
                                    color: red;
                                }
                            }
                        }

                        .form-control {
                            padding: 0.25rem 1rem;
                            text-align: center;
                            border-radius: 0.25rem;
                        }
                    }
                }
            }
        }

        .app-btn {
            padding: 0.5rem 1rem;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            color: white;
            background-color: black;
            border-radius: 0.25rem;
        }
    }
}
